* {
  box-sizing: border-box;
}

body {
  background-color: #EDEDF6;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 0px;
  background-color: #30333C;
  color: #fff;
}

header h1 {
  background-color: #91CCCD;
  color: black;
  padding: 2.5px 10px 2.5px 50px;
}

.hero-banner div h2 {
  background-color: #91CCCD;
  color: black;
  padding: 5px 10px;
  margin: 15px;
  position: a;
  float: right;
  /* right: -50px; */
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  object-fit:fill;
  height: 250px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  color: #91CCCD;
  min-width: 300px;
}

nav ul a {
  color: #91CCCD;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}



#page-wrapper-grid {
  /* display: grid;
  grid-template-columns: 200px 500px;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  "aboutHeading aboutDetail"
  "workHeading workDetail"
  "contactHeading contactDetail"; */
}


#contactDetail{
  display: flex;
  justify-content: space-between;
}

#contactDetail a {
 
    text-decoration: none;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    border-bottom: 4px solid #91CCCD;
    color: #4d607d;
  
}

.page-wrapper, .hero-banner div {
  /* display: flex; */
  width: 70%;
  margin: 0px auto;
}



.page-section {
  margin: 20px 10px 10px 10px;
  display: grid;
  column-gap: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "title detail";
}

.title {
  color: #4d607d;
  font-size: 50px;
  grid-area: title;
  word-wrap: break-word;
  text-align: right;
  justify-content: right;
  padding: 7px;
  border-right: 6px solid #4d607d;
}

a {
  text-decoration: none;
  padding: 2px 10px 2px 10px;
  margin: 5px;
  border-bottom: 4px solid #91CCCD;
}

.detail {
  grid-area: detail;
  color: #4d607d;
  
}

/* #aboutHeading {
  grid-area: aboutHeading;
  
} */

/* #aboutDetail {
  grid-area: aboutDetail;
  
} */

#profile-image {
  object-fit: contain;
  display: inline;
  width: 150px;
  float: left;
  margin: 0px 10px 0px 0px;
}

.about-text {
  clear: right;
}

.detail h5 {
  display: inline;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 5px solid #91CCCD;
}

.heading {
  background-color:#91CCCD;
  padding: 5px;
  color: #31333c;
  /* font-size: 18px; */
  display: inline;
  float: left;
  margin-right: auto;
  margin-bottom: 12px;
}

#contactDetail {
  position: relative; top:50%;
  /* transform: translateY(-50%); */
}

#workDetail {
  display: grid;
  grid-template-rows:300px 120px 120px;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "topRow topRow"
  "centerRowLeft centerRowRight"
  "bottomRowLeft bottomRowRight"
}



#topRowWork{
  grid-area: topRow;
  background-image: url("../images/02-portfolio-1.jpg");
}

#centerRowLeftWork{
  grid-area: centerRowLeft;
  background-image: url("../images/02-portfolio-2.jpg");
}

#centerRowRightWork{
  grid-area: centerRowRight;
  background-image: url("../images/02-portfolio-3.jpg");
}

#bottomRowLeftWork{
  grid-area: bottomRowLeft;
  background-image: url("../images/02-portfolio-4.jpg");
}


#bottomRowRightWork{
  grid-area: bottomRowRight;
  background-image: url("../images/02-run-buddy.jpg");
}



